<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />

	<connectionStrings>
		<add name="SkillHubConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SkillHubDB;Integrated Security=True;Connect Timeout=15;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="ApplicationName" value="SkillHub" />
		<add key="DefaultCommissionPercent" value="10" />
	</appSettings>
</configuration>